body {
    padding: 0;
    margin: 0;
    background: rgb(26,69,255);
    background: radial-gradient(49% 81% at 45% 47%, #FF03A045 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #0500FFFF 0%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #00FFFBFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #00E0FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #1100FFFF 0%, #FF0000FF 100%);
    overflow: hidden;
}

.bodyOverlay1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(222,86,1);
    background: radial-gradient(49% 81% at 45% 47%, #FF033145 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #6A00FF70 0%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #4700FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #0048FFFF 47%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #0016FFFF 0%, #FF0000FF 100%);
    animation: bodyAnim 30s ease infinite;
}

@keyframes bodyAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.switchContainer {
    border-radius: 110px 110px 110px 110px;
    padding: 10px;
    background-color: rgb(255, 229, 143);
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 600px;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -65%);
    -moz-transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%);
    -o-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
}

.switchScreen {
    width: 720px;
    height: 520px;
    background-color: rgb(48, 48, 48);
}

.controller {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 600px;
}

#controllerLeft {
    border: 10px solid rgb(0, 180, 212);
    box-sizing: border-box;
    border-radius: 100px 10px 10px 100px;
    background-color: rgb(6,194,226);
}

.conLeftBumperButton {
    background-color: rgb(27, 46, 66);
    width: 125px; 
    height: 125px; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    border-radius: 110px 10px 0px 10px; 
    border: none; 
    z-index: -1;
}

.conLeftBumperButton:hover {
    background-color: rgb(0, 60, 125);
}

.conLeftBumperButton:active {
    background-color: rgb(0, 123, 255);
}

.conMinusButton {
    background-color: rgb(27, 46, 66);
    width: 50px; 
    height: 15px; 
    top: calc(50% - 7.5px); 
    position: relative; 
    border-radius: 4px; 
    border-style: none;
}

.conMinusButton:hover {
    background-color: rgb(0, 60, 125);
}

.conMinusButton:active {
    background-color: rgb(0, 123, 255);
}

.conJoystickLeft {
    background-color: rgb(5, 0, 20);
    width: 100px;
    height: 100px; 
    border-radius: 50%; 
    border: 8px solid rgb(27, 46, 66); 
    box-sizing: border-box;
}

.conJoystickLeft:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conJoystickLeft:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conJoystickLeftInner {
    background-color: rgb(12, 14, 30); 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    left: 6px; 
    position: relative; 
    box-sizing: border-box;
}

.conJoystickLeft:hover .conJoystickLeftInner{
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conJoystickLeft:active .conJoystickLeftInner{
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conUpButton {
    background-color: rgb(5, 0, 20);
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    border: 8px solid rgb(27, 46, 66);
    box-sizing: border-box;
}

.conUpButton:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conUpButton:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conUpButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 26px; 
    bottom: -15px; 
    text-indent: -0.5px;
}

.conLeftButton {
    background-color: rgb(5, 0, 20);
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(27, 46, 66); 
    box-sizing: border-box;
}

.conLeftButton:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conLeftButton:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conLeftButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 26px; 
    bottom: -18px; 
    text-indent: -4px;
}

.conRightButton:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conRightButton:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conRightButton {
    background-color: rgb(5, 0, 20); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(27, 46, 66); 
    box-sizing: border-box;
}

.conRightButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 26px; 
    bottom: -18px; 
    text-indent: -3px;
}

.conDownButton {
    background-color: rgb(5, 0, 20); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(27, 46, 66); 
    box-sizing: border-box;
}

.conDownButton:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conDownButton:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conDownButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 26px; 
    bottom: -21px; 
    text-indent: -0.5px;
}

.conCaptureButton {
    background-color: rgb(5, 0, 20); 
    width: 35px; 
    height: 35px; 
    border-radius: 20%; 
    border: 6px solid rgb(27, 46, 66); 
    box-sizing: border-box;
}

.conCaptureButton:hover {
    background-color: rgb(0, 60, 125);
    border-color: rgb(0, 60, 125);;
}

.conCaptureButton:active {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);;
}

.conCaptureButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 30px; 
    bottom: -14px; 
    text-indent: -3px;
}

#controllerRight {
    border: 10px solid rgb(237, 64, 54);
    box-sizing: border-box;
    border-radius: 10px 100px 100px 10px;
    background-color: rgb(255, 67, 57);
}

.conRightBumperButton {
    background-color: rgb(75, 36, 36);
    width: 125px; 
    height: 125px; 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    border-radius: 10px 110px 10px 0px; 
    border: none; 
    z-index: -1;
}

.conRightBumperButton:hover {
    background-color: rgb(210, 42, 42);
}

.conRightBumperButton:active {
    background-color: rgb(255, 0, 0);
}

.conPlusButtonContainer {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    border: none; 
    padding: 0; 
    background-color: rgb(255, 67, 57);
}

.conPlusButtonContainer:hover .conPlusButtonVer {
    background-color: rgb(210, 42, 42);
}

.conPlusButtonContainer:hover .conPlusButtonHor {
    background-color: rgb(210, 42, 42);
}

.conPlusButtonContainer:active .conPlusButtonVer {
    background-color: rgb(255, 0, 0);
}

.conPlusButtonContainer:active .conPlusButtonHor {
    background-color: rgb(255, 0, 0);
}

.conPlusButtonVer {
    background-color: rgb(75, 36, 36); 
    width: 15px; 
    height: 50px; 
    right: calc(-15px - 2.5px); 
    position: relative; 
    border-radius: 4px;
}

.conPlusButtonHor {
    background-color: rgb(75, 36, 36); 
    width: 50px; 
    height: 15px; 
    top: calc(-50% - 7.5px); 
    position: relative; 
    border-radius: 4px;
}

.conXButton {
    background-color: rgb(27, 4, 4); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conXButton:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conXButton:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conXButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 30px; 
    bottom: -22px; 
    text-indent: 3px;
}

.conYButton {
    background-color: rgb(27, 4, 4); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conYButton:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conYButton:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conYButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 30px; 
    bottom: -23px; 
    text-indent: 3px;
}

.conAButton {
    background-color: rgb(27, 4, 4);
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conAButton:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conAButton:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conAButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 30px; 
    bottom: -22.5px; 
    text-indent: 3px;
}

.conBButton {
    background-color: rgb(27, 4, 4); 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 8px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conBButton:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conBButton:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conJoystickRight {
    background-color: rgb(27, 4, 4); 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    border: 8px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conJoystickRight:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conJoystickRight:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conJoystickRightInner {
    background-color: rgb(40, 15, 15);
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    left: 6px; 
    position: relative; 
    box-sizing: border-box;
}

.conJoystickRight:hover .conJoystickRightInner {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conJoystickRight:active .conJoystickRightInner {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conHomeButton {
    background-color: rgb(27, 4, 4); 
    width: 35px; 
    height: 35px; 
    border-radius: 20%; 
    border: 6px solid rgb(75, 36, 36); 
    box-sizing: border-box;
}

.conHomeButton:hover {
    border-color: rgb(210, 42, 42);
    background-color: rgb(210, 42, 42);
}

.conHomeButton:active {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.conHomeButton p {
    position: absolute; 
    color: gray; 
    font-family: monospace; 
    font-size: 30px; 
    bottom: -13px; 
    text-indent: -2.5px;
}