body {
    padding: 0;
    margin: 0;
    background: rgb(26,69,255);
    background: radial-gradient(circle, rgba(26,69,255,1) 0%, rgba(16,13,126,1) 100%);
}

.bodyOverlay1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(222,86,1);
    background: radial-gradient(circle, rgba(222,86,1,1) 0%, rgb(103, 10, 161) 100%);
    animation: bodyAnim 30s ease infinite;
}


.switchContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translate(-50%, -50%); top: 50%; left: 50%;
    width: 1200px;
    height: 600px;
}

.switchScreen {
    border-radius: 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 40px;
    border-color: black;
    width: 800px;
    background-color: rgb(48, 48, 48);
}

.joystick {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#joystickLeft {
    border: 10px solid rgb(0, 180, 212);
    box-sizing: border-box;
    border-radius: 100px 10px 10px 100px;
    background-color: rgb(6,194,226);
}

#joystickRight {
    border: 10px solid rgb(255, 70, 61);
    box-sizing: border-box;
    border-radius: 10px 100px 100px 10px;
    background-color: rgb(252,92,84);
}

@keyframes bodyAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}